<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/assets/img/logoIcon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../public/assets/css/main.css">
    <link rel="stylesheet" href="../public/assets/css/style.css">
    <title>BimmerStore</title>
</head>
<body>
    <header class="header">
        <div class="navContent">
            <img src="/src/public/assets/img/bimmerLogo.png" alt="">
            <nav class="navbar">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Cars</a>
        </nav>
        </div>
        
    </header>
    <main>
        <div class="main-container">
            <div class="hero-container"> <img src="/src/public/assets/img/bmwhero.jpg" alt="" id="imgHero"></div>
            <!-- <div id="cards-container"></div> -->
        </div>

    </main>
    <footer>

    </footer>
    <script type="module" src="/src/public/assets/js/script.js"></script>
</body>
</html>
